@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation.active {
  width: 80px;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #287bff;
  border-left: 10px solid #287bff;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: #fff;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #287bff;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  margin-top: -5px;
  padding: 0 10px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* Curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
}

/* main */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #fff;
  transition: 0.5s;
}

.main.active {
  left: 80px;
  width: calc(100% - 80px);
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid #999;
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  width: 60px;
  height: 40px;
}

.userConfig {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #fff;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  z-index: 9999;
  display: none;
}

.userConfig li {
  position: relative;
  width: 100%;
  padding: 7px;
  list-style: none;
}

.userConfig li a {
  text-decoration: none;
  color: #222;
}

.userConfig li:hover a {
  text-decoration: none;
  color: #287bff;
}

.userNotification.active {
  display: block;
}

.userConfig.active {
  display: block;
}

.userProfile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userProfile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userDropdown {
  position: absolute;
  top: 10px;
  left: 40px;
}

.userNotification {
  position: absolute;
  top: 20px;
  right: 100px;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: 60px;
  right: 90px;
  display: none;
  z-index: 9999;
  background-color: #287bff;
  color: #fff;
  padding: 4em;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.notification::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 5px;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 7.5px 8px;
  border-color: transparent transparent #287bff;
  z-index: 2;
}

.notificationIcon {
  font-size: 20px;
}

.notification.active {
  display: block;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cardBox .card {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #287bff;
}

.cardBox .card .cardName {
  color: #999;
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5em;
  color: #999;
}

.cardBox .card:hover {
  background: #287bff;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: #fff;
}

.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  min-height: 200px;
}

.graphBox .box {
  position: relative;
  background: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 10px;
}

.details .recentForms {
  position: relative;
  width: 100%;
  display: grid;
  min-height: 500px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: #287bff;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: #287bff;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentForms table tr {
  color: #222;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentForms table tr:last-child {
  border-bottom: none;
}

.details .recentForms table tbody tr:hover {
  background: #287bff;
  color: #fff;
}

.details .recentForms table tr td {
  padding: 10px;
}

.details .recentForms table tr td:last-child {
  text-align: end;
}

.details .recentForms table tr td:nth-child(2) {
  text-align: end;
}

.details .recentForms table tr td:nth-child(3) {
  text-align: center;
}

.status.delivered {
  padding: 2px 4px;
  background: #00A884;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.pending {
  padding: 2px 4px;
  background: #f9ca3f;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 2px 4px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inProgress {
  padding: 2px 4px;
  background: #1795c1;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr:hover {
  background: #287bff;
  color: #fff;
}

.recentCustomers table tr td {
  padding: 12px 10px;
}

.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

.recentCustomers table tr td span {
  font-size: 14px;
  color: #999;
}

.recentCustomers table tr:hover td h4 span {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr 1fr;
  }

  .navigation {
    left: -300px;
  }

  .navigation.active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .recentForms {
    overflow-x: auto;
  }

  .status.inProgress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 100001;
  }

  .main.active .toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #fff;
  }
}
.sheduleContainer {
  padding: 2em 3em;
}

.page-title {
  padding: 1em;
  font-size: 20px;
  font-weight: 500;
}

.shedulesBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.shedulesBox .shedules {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.shedulesBox .shedules .phone {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  color: #222;
}

.shedulesBox .shedules .test {
  position: relative;
  font-weight: 400;
  font-size: 1em;
  color: #999;
}

.shedulesBox .shedules .customerName {
  color: #222;
  font-size: 1.3em;
  margin-top: 5px;
}

.shedulesBox .shedules .tagBx {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-end-end-radius: 5px;
  padding: 5px;
  font-size: 1em;
  background: #287bff;
  color: #fff;
}

.shedulesBox .shedules:hover {
  background: #287bff;
}

.shedulesBox .shedules:hover .customerName {
  color: #fff;
}

.shedulesBox .shedules:hover .phone,
.shedulesBox .shedules:hover .test {
  color: #e6e6e6ce;
}

.formExame {
  width: 400px;
  height: 600px;
  background-color: #287bff;
  margin: 50px auto;
  padding: 30px;
  color: #fff;
  border-radius: 5px;
}

.headerExame {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

.form-control {
  padding: 10px 0px;
}

.form-control .amostra {
  font-weight: 600;
  font-size: 1.17rem;
  padding-bottom: 10px;
}

.form-control label {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
}

.form-control input {
  display: block;
  padding: 10px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  width: 100%;
}

.btn-form {
  border: none;
  background-color: #fff;
  color: #222;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin-top: 20px;
}

.btn-form:hover {
  background-color: #222;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
